.chipSuccess {
  border-color: var(--color-red-dark);
  color: var(--color-red-dark);
}
.chipUnsuccess {
  border-color: var(--color-green-dark);
  color: var(--color-green-dark);
}

.score {
  font-weight: bold;
}
